@model IEnumerable<WebApplication3.Models.FoodOrder>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-left:300px;">Danh sách các mặt hàng đã đặt</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID FoodOrder
            </th>
            <th>
                Tên món
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Thành tiền
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src=@Url.Content("~/Image/" + item.Food.Image) width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMoney)
            </td>
                
            
        </tr>
        
            
        }
    </tbody>

</table>

<p style="padding-left: 400px;padding-top: 50px"> Tổng tiền hóa đơn: @ViewBag.Sum </p>
<a style="padding-left:400px;padding-top:100px" asp-action="Export" asp-route-id="">Export Excel File</a>
<a style="padding-left:400px" asp-controller="Home" asp-action="IndexLog">
    Quay lại!!!
</a>