@model IEnumerable<WebApplication3.Models.Order>

@{
    ViewData["Title"] = "Search";
}

<h1 style="padding-left:300px;text-decoration:solid;text-decoration-color:brown">Danh sách tìm thấy</h1>


<table class="table" style="padding-left:250px">
    <thead>
        <tr>
            <th style="padding-left:50px">
                ID
            </th>
            <th style="padding-left:50px">
                Ngày đặt
            </th>
            <th style="padding-left:50px">
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="padding-left:50px">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="padding-left:50px">
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td style="padding-left:50px">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Index1" asp-controller="FoodOrders" asp-route-id="@item.Id">Xem chi tiết</a>
            </td>
        </tr>

        }
    </tbody>
</table>
<p style="padding-left: 400px;padding-top: 50px"> Tổng tiền của Order: @ViewBag.ToTalMoney </p>
