@model IEnumerable<WebApplication3.Models.FoodCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-left:200px">Danh mục món</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}

</table>
<div style="padding-left:200px">
    <a asp-action="Create">Tạo mới</a>
    <a asp-controller="Users" asp-action="Index">Quay trở lại</a>
</div>